<% if flash.any? %>
  <div aria-live="polite" class="fixed bottom-4 right-4 z-50 flex flex-col gap-3 max-w-sm w-full" id="toast-container">
    <% flash.each do |type, message| %>
      <% next if message.blank? %>
      <div data-controller="toast"
           data-toast-auto-close-value="10000"
           data-action="click->toast#dismiss"
           class="toast-message <%= toast_css_class(type) %> cursor-pointer transition-all duration-300 ease-out shadow-lg rounded-lg px-4 py-3 border-l-4"
           role="alert">
        <span><%= message %></span>
      </div>
    <% end %>
  </div>
<% end %>
