<div class="max-w-xl">
  <h1 class="text-3xl font-bold mb-6"><%= t("admin.users.edit") %></h1>
  <%= render "form", user: @user %>
  <%= link_to t("admin.actions.back"), admin_user_path(@user), class: "btn btn-ghost mt-4" %>
</div>
