<div class="max-w-xl">
  <h1 class="text-2xl font-bold mb-6"><%= t("admin.answer_options.new") %></h1>
  <%= render "form", answer_option: @answer_option, question: @question %>
  <%= link_to t("admin.actions.back"), admin_question_path(@question), class: "btn btn-ghost mt-4" %>
</div>
